.main{
  margin: 50px;
  background-color: #d75d77;
  border: 5px solid pink; 
}

.nav-bar{
  word-spacing: 40px;
  font-size: 20px;
  font-family: arial;
}

.nav-bar ul li a{
  text-decoration: none;
  color: white;
}

.nav-bar ul li{
  display: inline-block;
  -webkit-transition: border 1s, border-radius 1s, padding 1s, background-color 1s, color 1s;
}

.nav-bar ul li:hover{
  border-bottom: 2px solid gray;
  border-radius: 10%;
  padding: 10px;
  background-color: #e91e63;
  color: white;
}
