.body {
  font-family: 'Hind', sans-serif;
}
.text-centre {
  text-align: center;
}

.image {
  border: 1px solid red;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck {
  padding: 2rem 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-group > .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-group > .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.accordion > .card {
  overflow: hidden;
}

.accordion > .card:not(:first-of-type) .card-header:first-child {
  border-radius: 0;
}

.accordion > .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 0;
  border-radius: 0;
}

.accordion > .card:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion > .card:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion > .card .card-header {
  margin-bottom: -1px;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.left-top {
  font-size: 12pt;
  color: rgba(66, 66, 66, 255);
  text-align: left;
  float: right;
}

@media (width: 1024px) {
  .pro {
    width: 50%;
  }
}

.second-sec {
  text-align: center;
  border-right: 1px solid;
  align-items: stretch;
}
.center {
  text-align: center;
}
.login {
  color: #000;
}
.login:focus,
.login:hover {
  color: #23527c;
  text-decoration: none;
}

/*navbar*/
.navbar-inverse {
  background-color: #fff;
  border-color: transparent;
}
.logo {
  width: 100px;
}
@media (max-width: 768px) {
  .login {
    display: none;
  }
  a.navbar-brand {
    padding-top: 10px;
  }
  .left-top {
    float: none;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333;
  }
  .navbar-inverse .navbar-toggle:focus,
  .navbar-inverse .navbar-toggle:hover {
    background-color: #fff;
  }
  ul.nav.navbar-nav.navbar-right {
    display: inline-flex;
  }
}
@media (min-width: 769px) {
  .logo {
    width: 130px;
  }
  .login {
    float: right;
  }
  .navbar-inverse .navbar-nav > li > a {
    color: #000;
  }
  .navbar-inverse .navbar-nav > li > a:focus,
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: rgba(240, 167, 78, 0.9);
  }
  .nav-btn {
    color: #fff !important;
  }

  ul.nav.navbar-nav.nav-center {
    position: relative;
    left: 10%;
  }
  ul.nav.navbar-nav {
    top: 10px;
  }
  .navbar-inverse {
    background-color: #fff;
    border-color: transparent;
  }
  .login-nav,
  a.login-nav img {
    display: none;
  }
}

@media (width: 768px) {
  ul.nav.navbar-nav.navbar-right {
    position: absolute;
    right: 20px;
  }
}

@media (width: 1024px) {
  ul.nav.navbar-nav.nav-center {
    left: 0px;
  }
}

/*three image section*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  /*overflow: hidden;*/
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img,
.hovereffect:hover .overlay {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

  background-color: rgba(236, 143, 11, 0.5);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 25px;
  padding: 10px;
  margin-top: 150px;
  /*background: rgba(0, 0, 0, 0.6);*/
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  border-radius: 5px;
  /*margin: 50px 0 0 0;*/
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info,
.hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info,
.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.hovereffect {
  border-radius: 50%;
}

.hovereffect img,
.hovereffect:hover .overlay {
  width: 100%;
  border-radius: 50%;
}

/*canvas*/
.canvas {
  background-image: url('images/canvas.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.canvas-heading {
  margin-top: 89px;
  margin-left: 169px;
}
.canvas-paragaraph {
  font-size: 13px;
  margin-left: 169px;
}
.banner-img {
  width: 100%;
}

@media (max-width: 767px) {
  .canvas-heading {
    margin-top: 89px;
    margin-left: 0px;
  }
  .canvas-paragaraph {
    margin-top: 0px;
    margin-left: 0px;
  }
}

.carousel1 {
  width: 650px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.carousel1 .item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 340px;
}
.carousel1 .item a {
  color: #eb7245;
}
.carousel1 .img-box {
  width: 145px;
  height: 145px;
  margin: 0 auto;
  border-radius: 50%;
}
.carousel1 .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel1 .testimonial {
  padding: 30px 0 10px;
}
.carousel1 .overview {
  text-align: center;
  padding-bottom: 5px;
}
.carousel1 .overview b {
  color: #333;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px;
}
.carousel1 .star-rating i {
  font-size: 18px;
  color: #ffdc12;
}
.carousel1 .carousel-control {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #999;
  text-shadow: none;
  top: 4px;
}
.carousel1 .carousel-control i {
  font-size: 20px;
  margin-right: 2px;
}
.carousel1 .carousel-control.left {
  left: auto;
  right: 40px;
}
.carousel1 .carousel-control.right i {
  margin-right: -2px;
}
.carousel1 .carousel-indicators {
  bottom: 15px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 11px;
  height: 11px;
  margin: 1px 5px;
  border-radius: 50%;
}
.carousel1 .carousel-indicators li {
  background: #e2e2e2;
  border-color: transparent;
}
.carousel1 .carousel-indicators li.active {
  border: none;
  background: #888;
}
@media (max-width: 767px) {
  .carousel1 {
    width: auto;
    margin: 0 10px;
    padding-bottom: 30px;
  }
}

/*footer*/
.footer ul {
  list-style: none;
  padding: 0px;
}
.footer ul li a {
  color: #333 !important;
  text-decoration: none !important;
}

.footer ul li {
  padding-bottom: 10px;
}

.subscribe-input {
  margin-top: 80px;
  border: none;
  background: #ff9900;
  border-bottom: 1px solid #fff;
  width: 100%;
}
input ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;

  opacity: 1; /* Firefox */
}
.subscribe {
  margin-top: 30px;
  margin-bottom: 80px;
}

/*********************************CATALOGUE***************************************************************/

.top-banner {
  background-image: url('images/top-image.png');
}

.cat-galary {
  height: 350px;
}

.cat-galary h4 {
  margin-top: 80px;
}
.right {
  text-align: right;
}

@media (max-width: 767px) {
  .col-sm-6.cat-galary {
    height: auto;
  }
}

/* canvasPrint page */
.upload-image,
.cartImg {
  height: 30rem;
  width: auto;
}

.cart-badge,
.cart-badge:hover {
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  font-style: italic;
  background: #f1b05f;
}

.mx-auto {
  margin: 5% 25%;
}

.right-align {
  text-align: right !important;
}

.img {
  width: 200px;
  height: 200px;
  margin: 15%;
  margin-top:95%; 
}

.pm{
  margin : 5%;
}